
.container {
	
	background-color: DimGray;
	color: white;
	text-align: right;
	margin: 490px;
}

.bleft{
	border: 1px solid gray;
	background: darkgray;
	/*border-bottom: 2px;*/
	text-align: center;
	color: black;
}

.neworange{
	background-color: orange;
	color: white;
	

}

/*first{
	color: black;
	background: gray;
	text-align: center;
	border: black solid 2px;
	border-right: 2px solid blue;
}

.division{
	background-color: orange;
	color: white;
	text-align: center;
}

.second{
	color: black;
	background: gray;
	text-align: center;
	border: black solid 2px;
}

.third{
	color: black;
	background: gray;
	text-align: center;
	border: black solid 2px;
}

.forth{
	color: black;
	background: gray;
	text-align: center;
	border: black solid 2px;
}
.fith{
	color: black;
	background: gray;
	text-align: center;
	border: black solid 2px;
}
*/


/*.mul{
	background-color: orange;
	color: white;
	text-align: center;
}

.minn{
	background-color: orange;
	color: white;
	text-align: center;
}

.pluss{
	background-color: orange;
	color: white;
	text-align: center;
}

.equu{
	background-color: orange;
	color: white;
	text-align: center;
}
*/




